.title{
    display: flex;
    justify-content: space-between; 
}
.addItem {
    margin-top: 10%
}
.checklist {
    margin-bottom: 5%;
}
.progress {
    flex:1
}
.addItemTF{
    margin-right: 1%
}
.checkboxItem {
    margin-right: 10%
}