.di-application-detail {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.di-application-detail .wrapper .di-title {
    padding: 10px !important;
    margin-bottom: 0px !important;
}
.di-application-detail .wrapper .di-information {
    flex: 1;
    padding-top: 30px !important
}

.di-application-detail .wrapper {
    margin: auto !important;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.di-header {
    text-align: left !important;
}


.text-align-left {
    text-align: left !important;
}

.di-redirect-uri .di-button {
    float: right;
}

.add-uri-item {
    flex: 1;
    flex-direction: row;
}

.di-ru-input {
    width: 100%;
    flex: 1;
}

.add-uri-button {
    padding-top: 10px;
    flex: 1;
}