.lists-content {
    display: flex;
    flex: 1;
    overflow-y: auto;
    flex-direction: column;
    height: 100%;
}

.myLists {
    padding-top: 0px !important;
    margin: 0px !important;
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 100%;
    flex-wrap: nowrap;
    margin-bottom: 8px !important;
}

.lists {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 100%;
}

.no-padding-top {
    padding-top: 0px !important;
}

.App {
    flex: 1;
    flex-direction: column;
}

#root {
    height: 100%;
}
.board {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
}