.lists-content {
    display: flex;
    flex: 1;
    overflow-y: auto;
    flex-direction: column;
    height: 100%;
}

.myLists {
    padding-top: 0px !important;
    margin: 0px !important;
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 100%;
    flex-wrap: nowrap;
}

.lists {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow-y: auto;
    height: 100%;
    
}

.no-padding-top {
    padding-top: 0px !important;
}

.App {
    flex: 1;
    flex-direction: column;
}

#root {
    height: 100%;
}
.board {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
}

.bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: -10;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  background-color: black;
}