.error-403 {    
    position: relative;
    background-color: #DADADA;
    height: 100%;
}

.error-403-content {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}