.myList {
    width: 300px !important;
    margin: 0.3rem !important;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    background-color: #dfe3e6 !important;
    max-height: 100%;
}

.myDiv{
    width: 305px !important;
    margin: 0.3rem !important;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    max-height: 100%;
}

.items {
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 0px !important;
    text-align: left !important;
}