.boardHeader {
    flex: 0;
    flex-basis: 20px;
    background-color: rgba(255, 227, 133, 0.2);
    padding: 8px 4px 8px 8px !important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3) inset;
}

.header-row {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.header-button {
    margin: 8px;
}

.header-board-left {
    flex: 2;
    display: flex;
    flex-direction: row;
}

.header-board-name {
    flex: 4;
    font-size: 20px;
    font-weight: bold;
    padding-right: 6px;
    line-height: 36px;
    border-right: 1px solid #16222c;
    text-align: center;
}

.header-board-star {
    flex: 1;
    padding-left: 6px;
    padding-right: 2px;
    border-right: 1px solid #16222c;
}

.header-board-member{
    flex: 1;
    padding-left: 6px;
    padding-right: 2px;
    border-right: 1px solid #16222c;
    display: flex;
    flex-direction: row;
    margin-top: 6px
}

.header-board-center {
    flex: 8;
}


.header-board-archived {
    flex-basis: 150px;
}