.header {
    justify-content: space-between;
    opacity: 1;
    z-index: 100;
    flex: 0;
    flex-basis: 60px;
    margin-bottom: 0px !important;
}
.inline {
    display: flex;
    flex-direction: row
}
.appname{
    font-size: 15px;
    opacity: 1;
}
.search {
    margin-top: 1%;
}