.header {
    justify-content: space-between;
    opacity: 0.8;
    z-index: 100;
}
.inline {
    display: flex;
    flex-direction: row
}
.appname{
    font-size: 15px;
    opacity: 0.9;
}
.search {
    margin-top: 1%;
}