.app-header {
    justify-content: space-between;
    opacity: 1;
    z-index: 100;
    flex: 0;
    flex-basis: 60px;
    margin-bottom: 0px !important;
    background-color: rgba(22, 16, 109, 0.336) !important;
    
}
.inline {
    display: flex;
    flex-direction: row
}
.appname{
    font-size: 15px;
    opacity: 1;
}
.search {
    margin-top: 1%;
}

.header-left {
    flex: 4;
}

.header-center {
    flex: 1;
    position: relative;
}

.header-center-image {
    height: 38px;
}

.header-right {
    flex: 4;
    flex-direction: row;
    text-align: right;
}

.truc {
    display: inline;
    margin-left: 5px !important;
}

.popup-edit-member {
    display: inline-block;
}

.popup-member-information {
    display: block;
}