.buttons{
    width: 100%
}

.label{
    padding: 2px;
    width: fit-content;
    border-radius: 5px;
    color: white;
}

.checklist-add-button {
    margin-top: 5px !important;
}

.checklist-div-add-button {
    text-align:center;
}