.cardOverview {
  text-align: left;
  margin-bottom: 1%;
  position: relative;
}

.labels {
  flex-wrap: wrap;
  margin-bottom: 5px; 
}

.label {
  min-width: 30px; 
}

.transition{
  
  transition: all 3s;
}

.information {
  padding: 5px;
}

.eye {
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 5px;
}

.member-avatar {
  margin-left: 5px;
}