.cardOverview {
  text-align: left;
  margin-bottom: 1%;
  position: relative;
}

.labels {
  flex-wrap: wrap;
  margin-bottom: 5px; 
}

.big_label {
  min-width: 40px;
  line-height: 0.5px !important;
}

.information {
  padding: 5px;
}

.eye {
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 5px;
}

.member-avatar {
  margin-left: 5px;
}

.card-overview-name{
  font-size: 15px
}