.error-400 {    
    position: relative;
    background-color: #DADADA;
    flex: 1;
    height: 100%;
}

.error-400-content {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}